/* Base style */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.bg_dark {
  background-color: #232f3f;
}

.bg_softdark {
  background-color: #364759;
}

.pd_in_general {
  padding-inline: 1rem;
}

/* header */

header img {
  width: 115px;
  padding-block: 0.5rem;
}
header nav {
  padding-block: 0.7rem;
}
header nav ul li {
  display: inline;
  padding-inline-end: 1rem;
}

header nav ul li a {
  color: #e9f8fb;
  text-decoration: none;
}

/* title */

main {
  text-align: center;
}

h2 {
  background-color: #f56600;
  color: #e9f8fb;
  padding: 0.5rem;
  margin-block: 2rem;
}

.title {
  background-image: url(../images/bg-image.png);
  background-size: 93%;
  color: #e6ecee;
  padding-block: 2rem;
}

h1 {
  font-size: 2rem;
  padding-block: 1.5rem;
}
